<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <default_page>home</default_page>
    <default_template>default</default_template>
    <default_page_admin>admin_main</default_page_admin>
    <laguages default="en">
        <language>en</language>
        <language>pl</language>
    </laguages>
    <database>
        <host>localhost</host>
        <db_name>lessons</db_name>
        <user_name>test_user</user_name>
        <password>jAX6WODE14zO</password>
    </database>
</settings>